<template name="about">
    <div id="main" class="nomenu">
		<div class="container">
			<div class="row center">
				<img src="/basmala.png" height="40px" width="223px"><br>
				<p class="justify mt10">Sunnah.co (Sunnah Source) is a project of the us-Sunnah Foundation managed as a waqf for the public.  The purpose of the site is to make a central website focused on authenticity for encyclopedic and reference materials - as well as great detail possible using modern technologies, such as interactive and linked isnads for all hadith.  This site relies on a strong community of contributors, moderators and administrators to maintain a quality database of material.  Our long-term plans include a full set of REST API's to allow other developers to use the data on our site, inshaa' Allah.  Please feel free to sign-up so you can contribute and contact us via our <a href="/contact">Contact Page</a> if you have any questions.</p>
			</div>
		</div>
	</div>
</template>
