<template name="onlyIfAdmin">
	{{#if authInProcess}}
    <div id="main" class="nomenu">
		<div class="container">
			<div class="row center">
				<h4 class="center-block">Authenticating...</h4>
			</div>
		</div>
	</div>
	{{else}}
		{{#if loggedIn}}
			{{#if isAdmin}}
			{{> UI.contentBlock }}
			{{else}}
			<div id="main" class="nomenu">
				<div class="container">
					<div class="row center">
						<h4 class="center-block">You are not an admin.</h4>
					</div>
				</div>
			</div>
			{{/if}}
		{{else}}
		<div id="main" class="nomenu">
			<div class="container">
				<div class="row center">
					<div class="col-sm-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3 z-depth-1" style="margin-top: 20px">
						<h3 style="margin-bottom: 0px;">You must login to continue..</h3>
						{{> atForm}}
					</div>
				</div>
			</div>
		</div>
		{{/if}}
	{{/if}}
</template>
