<template name="adminTranslate">
	{{#onlyIfAdmin}}
    <div id="main">
		<div class="row menu">
			<div class="container">
				<a href="/admin"><div class="col-md-4 center">Dashboard</div></a>
				<div class="col-md-4 center">Translate</div>
				<a href="/admin/users"><div class="col-md-4 center">Users</div></a>
			</div>
		</div>
		<div class="container">
			<div class="row mt30">
				<div class="col-md-2 tNav">
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation" class="active"><a>Status</a></li>
						<li role="presentation"><a href="/admin/translate/languages">Languages</a></li>
						<li role="presentation"><a href="/admin/translate/sitetext">Site Text</a></li>
					</ul>
				</div>
				<div class="col-md-10 tCont">
					<table id="tStat" width="100%">
						<thead>
							<th width="{{w1}}%">Item</th>
							<th width="{{w1}}%">&nbsp;</th>
							{{#each lang}}
							<th width="{{w2}}%" class="center">{{capRef}}</th>
							{{/each}}
						</thead>
						<tr class="tss tse">
							<td>Quran</td>
							<td>&nbsp;</td>
							{{#each lang}}
							<th class="center">{{{qurPer}}}</th>
							{{/each}}
						</tr>
<!--						<tr class="tss">
							<td>Hadith</td>
							<td>Bukhari</td>
							<td>2%</td>
							<td>1%</td>
							<td>0%</td>
						</tr>
						<tr class="tse">
							<td>&nbsp;</td>
							<td>Muslim</td>
							<td>2%</td>
							<td>1%</td>
							<td>0%</td>
						</tr> -->
					</table>
				</div>
			</div>
		</div>
	</div>
	{{/onlyIfAdmin}}
</template>
