<template name="adminUsers">
	{{#onlyIfAdmin}}
    <div id="main">
		<div class="row menu">
			<div class="container">
				<a href="/admin"><div class="col-md-4 center">Dashboard</div></a>
				<a href="/admin/translate"><div class="col-md-4 center">Translate</div></a>
				<div class="col-md-4 center">Users</div>
			</div>
		</div>
		<div class="container">
			<div class="row mt30">
				<h5>Needs re-styling for our theme and bootstrap..</h5>
				{{> ReactiveDatatable tableData=usersData options=usersOptions }}
			</div>
		</div>
	</div>
	{{/onlyIfAdmin}}
</template>
