<template name="adminTranslateLanguages">
	{{#onlyIfAdmin}}
    <div id="main">
		<div class="row menu">
			<div class="container">
				<a href="/admin"><div class="col-md-4 center">Dashboard</div></a>
				<div class="col-md-4 center">Translate</div>
				<a href="/admin/users"><div class="col-md-4 center">Users</div></a>
			</div>
		</div>
		<div class="container">
			<div class="row mt30">
				<div class="col-md-2 tNav">
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation"><a href="/admin/translate">Status</a></li>
						<li role="presentation" class="active"><a>Languages</a></li>
						<li role="presentation"><a href="/admin/translate/sitetext">Site Text</a></li>
					</ul>
				</div>
				<div class="col-md-10 tCont">
					<table id="tStat" width="100%">
						<thead>
							<th>Language</th>
							<th>Latin Name</th>
							<th>Native Name</th>
							<th>Active</th>
							<th>&nbsp;</th>
						</thead>
						{{#each lang}}
						<tr class="{{#if first lang this}}tss{{/if}} {{#if last lang this}}tse{{/if}}">
							<td>{{ref}}</td>
							<td>{{name}}</td>
							<td>{{native}}</td>
							<td><a id="tog-{{ref}}" class="langToggle" style="color:{{act1}}">{{act2}}</a></td>
							<td><a id="rem-{{ref}}" class="langDelete" style="color:red"><i class="fa fa-times"></i></a></td>
						</tr>
						{{/each}}
						<tr class="tss">
							<td>Add Language</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	{{/onlyIfAdmin}}
</template>
