<template name="home">
    <div id="main" class="nomenu">
		<div class="container">
			<div class="row center">
				<div id="home-search" class="col-md-6 col-md-push-3">
					<div class="input-group input-group-lg">
						<input id="search" class="form-control" type="text" placeholder="Search coming soon." aria-describedby="search-btn" disabled>
						<span id="search-btn" class="input-group-addon"><i class="fa fa-search"></i></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="home-text" class="col-md-10 col-md-push-1">
					<h2>Sunnah Source is a community managed resource allowing you to search the Quran, Sunnah and authentic works of Islamic scholars.</h2>
					<h4>Want to contribute?  Sign-in with your Facebook or Google at the top!</h4>
				</div>
			</div>
		</div>
	</div>
</template>
