<template name="quran">
    <div id="main" class="nomenu">
		<div class="container">
			{{#if ready}}

			<div class="row center mt10">
				<div id="quran-search" class="col-md-6 col-md-push-3">
					<div class="input-group input-group-lg">
						<input id="qsearch" class="form-control" type="text" aria-describedby="search-btn" placeholder="Quran search coming soon." disabled>
						<span id="qsearch-btn" class="input-group-addon"><i class="fa fa-search"></i></span>
					</div>
				</div>
			</div>
			<div class="row center mt50">
				{{#each surat}}
				<div class="col-md-3 col-sm-6">
          {{no}}) <a href="/quran/{{no}}">{{name}}</a>
        </div>
				{{/each}}
			</div>


			{{else}}

			<div class="row">
				<div class="col-md-8 col-md-push-2">
					{{t 'qna'}}
				</div>
			</div>

			{{#if isAdmin}}
			<div class="row center">
				<div class="col-md-8 col-md-push-2 mt30" style="color:red">{{t 'qam'}}</div>
			</div>
			<div class="row center mt30">
				<table id="qEdit" width="100%" class="col-md-8 col-md-push-2">
					<thead>
						<th>&nbsp;</th>
						<th>{{t 'surah'}}</th>
						<th>{{t 'done'}}</th>
						<th>{{t 'total'}}</th>
						<th>{{t 'percent'}}</th>
						<th>&nbsp;</th>
					</thead>
				{{#each surat}}
					<tr>
						<td>{{no}}</td>
						<td><input id="name-{{no}}" name="name-{{no}}" class="sname" value="{{name}}"></td>
						<td>{{done}}</td>
						<td>{{ayat}}</td>
						<td>{{{percent}}}</td>
						<td><a href="/quran/{{no}}"><i class="fa fa-pencil-square-o"></i></a></td>
					</tr>
				{{/each}}
				</table>
			</div>

			<div class="row mt30">
				<div class="col-md-8 col-md-push-2 center">
					<button id="qsave" class="btn btn-primary">Save Changes</button>
				</div>
			</div>
			{{/if}}

			{{/if}}
		</div>
	</div>
</template>
