<template name="toolsApi">
    <div id="main">
		<div class="row menu">
			<div class="container">
				<a href="/tools"><div class="col-md-4 center">Hijri Converter</div></a>
				<a href="/tools/pray"><div class="col-md-4 center">Prayer Times</div></a>
				<div class="col-md-4 center">API</div>
			</div>
		</div>
		<div class="container">
			<div class="row mt30">
				<div class="col-md-3"><code>/api/quran</code></div>
				<div class="col-md-9">Return Quran data</div>
			</div>
			<div class="row mt30">
				<div class="col-md-3"><code>/api/quran/(surah)</code></div>
				<div class="col-md-9">Return entire surah content</div>
			</div>
			<div class="row mt30">
				<div class="col-md-3"><code>/api/quran/(surah)/(ayah)</code></div>
				<div class="col-md-9">Return ayah content</div>
			</div>
		</div>
	</div>
</template>
